{% extends 'events/email/base.html' %}

{% block user %}
    {{ name }}
{% endblock user %}

{% block title %}
    Поздравляем! Вы получили запрос на встречу!
    <br>
    <strong style="margin-right: 5px">Клиент:</strong>
    <span>{{ c_name }}</span>
    <br>
    <strong style="margin-right: 5px">Услуга:</strong>
    <span>{{ project }}</span>
    <br>
    <strong style="margin-right: 5px">Дата:</strong>
    <span>{{ time }}</span>
    <br>
    <strong style="margin-right: 5px">Сообщение:</strong>
    <span>{{ message }}</span>
{% endblock title %}

{% block body %}
    <div style="padding-bottom: 40px;text-align: center;">
        <a href="{{ url }}" rel="noopener"
           style="text-decoration:none;display:inline-block;text-align:center;padding:0.75575rem 1.3rem;font-size:0.925rem;line-height:1.5;border-radius:0.35rem;color:#ffffff;background-color:#009EF7;border:0px;margin-right:0.75rem!important;font-weight:600!important;outline:none!important;vertical-align:middle"
           target="_blank">Посмотреть все события</a>
    </div>
    <div style="padding-bottom: 20px">
        Нажмите на кнопку, чтобы посмотреть и подтвердить встречу!
        <br>
        После того, как Вы подтвердите встречу,
        Ваш клиент получит об этом уведомление на почту!
    </div>
    <div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div>
    <div style="word-wrap: break-word;">
        <p style="margin-bottom: 10px;">Кнопка не работает? Воспользуйтесь ссылкой:</p>
        <a href="{{ url }}" rel="noopener" target="_blank" style="text-decoration:none;color: #009EF7">{{ url }}</a>
    </div>
{% endblock body %}