//
// Page loader
//

// CSS3 Transitions only after page load(.page-loading class added to body tag and remove with JS on page load)
.page-loading * {
    transition: none !important;
}

// Base
.page-loader {
	//position: absolute;
	//top: 65px;
	//bottom: 0;
	//left: 265px;
	//right: 30px;
	//z-index: 1000;
   	display: none;
	transition: all .3s ease;

   	.page-loading & {
		display: flex;
		justify-content: center;
   		align-items: center;
	}
}
